@import "tailwindcss";

@layer components {
    .list {
        @apply px-3 py-1 rounded text-sm font-semibold bg-white transition hover:translate-y-[-2px] cursor-default hover:bg-blue-500 hover:text-white text-center;
    }
}